* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1rem;
    font-family: sans-serif;
    background-image: linear-gradient(rgb(11, 6, 6), rgb(11, 6, 6));
}

.question {
    display: flex;
    justify-content: center;
    align-items: center;
}

.question h2 {
    margin: 80px auto 10px;
    color: #fff;
}

.accordion {
    margin: 0 auto;
    padding: 64px;
    width: 768px;
    background-color: #fff;
    border-radius: 5%;
}

.accordion-item {
    border-bottom: 1px solid #e5e5e5;
}

.accordion-item button {
    position: relative;
    text-align: left;
    display: block;
    width: 100%;
    padding: 1em 0;
    color: #7288a2;
    font-size: 1.15rem;
    border: none;
    outline: none;
    background-color: #fff;
}

.accordion-item button:hover {
    cursor: pointer;
}

.accordion-content p {
    font-size: 1rem;
    padding-bottom: 20px;
}

.accordion-button {
    display: flex !important;
    justify-content: space-between !important;
}

.rotate {
    transition: 0.6s;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

@media(max-width:768px) {
    html,
    body {
        overflow-x: hidden !important;
    }
    body {
        margin: 0px !important;
        align-items: center;
    }
    .accordion {
        width: 95%;
    }
    .question h3 {
        width: 90%;
    }
}